<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded-sm border  shadow-sm my-[75px]">
    <h1 class="text-3xl text-center text-green-600 font-light">{{"login.logNow" | translate}}</h1>
    <form [formGroup]="login" (ngSubmit)="submitForm()">
      


        <div class="mb-1">
            @let emailControl = login.get('email');
            <label for="email"
             class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
             >
             {{"login.email" | translate}}
            </label>
            <input 
            formControlName="email"
            type="email" 
            id="email" 
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (emailControl?.errors && emailControl?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                      <span class="font-medium">             
                        {{"login.Ensure" | translate}}
                      </span>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (emailControl?.getError('required')) {
                                <li>
                                  {{"login.emailIsRequired" | translate}}
                                </li>
                            }
                            @else if (emailControl?.getError('email')) {
      
                                <li>{{"login.entervalidemail" | translate}}</li>
                            }
                      </ul>
                    </div>
                  </div>
            }  

        </div>


        <div class="mb-1">
            @let passControl =login.get('password');
            <label for="pass"
             class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
             >
             {{"login.password" | translate}}
            </label>
            <input 
            formControlName="password"
            type="password" 
            id="pass" 
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (passControl?.errors && passControl?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                      <span class="font-medium"> {{"login.Ensure" | translate}}</span>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (passControl?.getError('required')) {
                                <li> {{"login.passwordIsRerquired" | translate}}</li>
                            }
                            @else if (passControl?.getError('pattern')) {
                                <li>{{"login.entervalidpassword" | translate}}</li>
                            }
                      </ul>
                    </div>
                  </div>
            }  
        </div>
        <div class="flex items-center justify-end gap-1 ">
         
          <button [disabled]="isLoading" type="submit" 
          class=" bg-green-600 text-white my-3 px-[15px] py-3 w-[200px] rounded   hover:bg-green-800 transition-colors duration-500" >
            {{"login.signIn" | translate}}
            @if (isLoading) {
              <span> <i class="fas fa-spin fa-spinner"></i> </span>
              
            }
            </button>
            
            <a routerLink="/forgetPassword" class="link"> {{'login.forgetPassword' | translate}} </a>
        </div>
      
        @if(mgsError){
          <p class="bg-red-400 text-white px-2 py-3  text-center">{{mgsError}}</p>
        }
        
        @if (success) {
          <p class="bg-green-400 text-white px-2 py-3 text-center ">{{success}}</p>
        } 
    </form>
</section>
