<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded-sm border shadow-sm my-[75px]">
  <h1 class="text-3xl text-center text-green-600 font-light">{{ 'register.RegisterNow' | translate }}</h1>
  <form [formGroup]="register" (ngSubmit)="submitForm()">
     
      <div class="mb-1">
          @let nameControl = register.get('name');
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ 'register.name' | translate }}</label>
          <input 
              formControlName="name"
              type="text" 
              id="name" 
              class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if(nameControl?.errors && nameControl?.touched){
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Danger</span>
                  <div>
                      <span class="font-medium">{{ 'register.Ensure' | translate }}</span>
                      <ul class="mt-1.5 list-disc list-inside">
                          @if(nameControl?.getError('required')){
                              <li>{{ 'register.nameIsrequired' | translate }}</li>
                          }
                          @else if (nameControl?.getError('minlength')) {
                              <li>{{ 'register.nameminlength' | translate }}</li>
                          }
                          @else if (nameControl?.getError('maxlength')) {
                              <li>{{ 'register.namemaxlength' | translate }}</li>
                          }
                      </ul>
                  </div>
              </div>   
          }   
      </div>

    
      <div class="mb-1">
          @let emailControl = register.get('email');
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ 'register.email' | translate }}</label>
          <input 
              formControlName="email"
              type="email" 
              id="email" 
              class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if (emailControl?.errors && emailControl?.touched) {
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Danger</span>
                  <div>
                      <span class="font-medium">{{ 'register.Ensure' | translate }}</span>
                      <ul class="mt-1.5 list-disc list-inside">
                          @if (emailControl?.getError('required')) {
                              <li>{{ 'register.emailIsRequired' | translate }}</li>
                          }
                          @else if (emailControl?.getError('email')) {
                              <li>{{ 'register.enterValidEmail' | translate }}</li>
                          }
                      </ul>
                  </div>
              </div>
          }  
      </div>

   
      <div class="mb-1">
          @let passControl = register.get('password');
          <label for="pass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ 'register.password' | translate }}</label>
          <input 
              formControlName="password"
              type="password" 
              id="pass" 
              class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if (passControl?.errors && passControl?.touched) {
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Danger</span>
                  <div>
                      <span class="font-medium">{{ 'register.Ensure' | translate }}</span>
                      <ul class="mt-1.5 list-disc list-inside">
                          @if (passControl?.getError('required')) {
                              <li>{{ 'register.passwordIsRequired' | translate }}</li>
                          }
                          @else if (passControl?.getError('pattern')) {
                              <li>{{ 'register.enterValidPassword' | translate }}</li>
                          }
                      </ul>
                  </div>
              </div>
          }  
      </div>

      
      <div class="mb-1">
          @let rePassword = register.get('rePassword');
          <label for="repass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ 'register.Repassword' | translate }}</label>
          <input 
              formControlName="rePassword"
              type="password" 
              id="repass" 
              class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if (register?.getError('mismatch') && rePassword?.touched ) {
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Danger</span>
                  <div>
                      <span class="font-medium">{{ 'register.Ensure' | translate }}</span>
                      <ul class="mt-1.5 list-disc list-inside">
                          <li>{{ 'register.theRePasswordareIncorrect' | translate }}</li>
                      </ul>
                  </div>
              </div>
          }
      </div>

      
      <div class="mb-1">
          @let phoneControl = register.get('phone');
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ 'register.phone' | translate }}</label>
          <input 
              formControlName="phone"
              type="tel" 
              id="phone" 
              class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if (phoneControl?.errors && phoneControl?.touched) {
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Danger</span>
                  <div>
                      <span class="font-medium">{{ 'register.Ensure' | translate }}</span>
                      <ul class="mt-1.5 list-disc list-inside">
                          @if (phoneControl?.getError('required')) {
                              <li>{{ 'register.phoneIsRequired' | translate }}</li>
                          }
                          @else if (phoneControl?.getError('pattern')) {
                              <li>{{ 'register.enterValidPhone' | translate }}</li>
                          }
                      </ul>
                  </div>
              </div>
          }  
      </div>

      <button [disabled]="isLoading" type="submit" class="btn-main">
          {{ 'register.signUp' | translate }}
          @if (isLoading) {
              <span> <i class="fas fa-spin fa-spinner"></i> </span>
          }
      </button>

      @if(mgsError){
          <p class="bg-red-400 text-white px-2 py-3 text-center">{{mgsError}}</p>
      }

     
      @if (success) {
          <p class="bg-green-400 text-white px-2 py-3 text-center">{{success}}</p>
      }
  </form>
</section>