<section>
    <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
        <div>
            <owl-carousel-o [options]="customMainSlider">
                <ng-template carouselSlide>
                    <img src="/images/img1.avif" alt="" class="w-full h-[300px]">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img2.avif" alt="" class="w-full h-[300px]">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img3.avif" alt="" class="w-full h-[300px]">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img4.avif" alt="" class="w-full h-[300px]">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="/images/img5.avif" alt="" class="w-full h-[300px]">
                </ng-template>        
          
              </owl-carousel-o>
        </div>
        <div>
            <div>
                <img src="/images/grocery-banner.png" alt="" class="w-full h-[150px]">
            </div>
            <div>
                <img src="/images/grocery-banner-2.jpeg" alt=""  class="w-full h-[150px]">
            </div>
        </div>
        
    </div>
    
</section>

<section>
    <h2>categories</h2>
    <owl-carousel-o [options]="customOptions">

      @for (cat of categories; track cat._id) {
        <ng-template carouselSlide >
            <img [src]="cat.image" [alt]="cat.name" class="w-full h-[250px]">
               <h3 class="text-green-700">{{cat.name}}</h3>
          </ng-template>
      }
          
       
    
      </owl-carousel-o>
</section>

<section>
    <h2 class="text-3xl">Popular Products</h2>
    <input 
    
     type="text"
     class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <div class=" grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 ">
        @for (prod of products.slice(0 ,12) ; track prod._id) {
            <div class="card border border-green-500/50 rounded-md overflow-hidden shadow relative ">
                <div>
                    <img [src]="prod.imageCover" class="w-full h-[250px] object-contain"  [alt]="prod.title">
                </div>
                
        <div [routerLink]="['/details' , prod._id]">
            <div class="card-body px-2 py-3">
                <h4 class="text-green-500 text-xs">{{prod.category.name}}</h4>
                <h3 class="font-medium"> {{prod.title.split(' ' ,2).join(' ')}}</h3>
                <div class="flex justify-between items-center">
                    <span> {{prod.price}} EGP</span>
                    <div class="flex items-center">
                        <i class="fas fa-star text-yellow-400"></i>
                        <span class="text-gray-500">{{prod.ratingsAverage}}</span>
                    </div>
                </div>
                </div>
        </div>

            <button 
            (click)="addToCart(prod._id)"
            type="button"
             class="btn bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block" > Add to cart</button>
        </div>
        }
    </div>
</section>
