<footer class="bg-gray-200 py-3">
    <div class="w-11/12 mx-auto">
        <h2 class="text-2xl m-0">The FreshCart App</h2>
        <p class="text-gray-600">we will send you a link, Open it on your phone to download the app</p>
    </div>
    <div class="flex items-center gap-2 text-nowrap ">
        <input 
        type="text"
        class=" w-8/12 rounded-lg border-gray-200"
        placeholder="Email"
        />
        <button class="btn-main">Share Your App Link </button>
    </div>
    <hr>

    <div class="md:flex justify-between items-center my-5">
        <div class="flex items-start gap-2">
            <h3 class="text-sm m-0">payment parteners</h3>
            <img src="/images/amazon-pay.png" width="50px">
            <img src="/images/American-Express-Color.png" width="50px">
            <img src="/images/paypal.png" width="50px">
            <img src="/images/mastercard.webp" width="50px">
        </div>
        <div class="flex items-center gap-2">
            <h3 class="h6 m-0">Get Your Delivers As Fresh Cart</h3>
            <img src="/images/get-google-play.png" width="100px">
            <img src="/images/get-apple-store.png" width="100px">
        </div>
    </div>
</footer>
