<section class="w-[70%] mx-auto border my-[100px]">
  
  <h1 class="text-center my-2 text-green-600">{{ 'forgetName.forgetPassword' | translate }}</h1>

  @if(stepNumber === 1){
    <form [formGroup]="verifyEmail" (ngSubmit)="verfiyEmailSubmet()">
      <div class="mb-1 w-[80%] mx-auto">
        @let emailControl = verifyEmail.get('email');
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          {{ 'forgetName.email' | translate }}
        </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (emailControl?.errors && emailControl?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <span class="font-medium">
                {{ 'login.Ensure' | translate }}
              </span>
              <ul class="mt-1.5 list-disc list-inside">
                @if (emailControl?.getError('required')) {
                  <li>
                    {{ 'forgetName.emailIsRequired' | translate }}
                  </li>
                }
                @else if (emailControl?.getError('email')) {
                  <li>
                    {{ 'forgetName.enterValidEmail' | translate }}
                  </li>
                }
              </ul>
            </div>
          </div>
        }
      </div>
      <button class="btn-main mx-2" [disabled]="verifyEmail.invalid">{{"forgetName.VerifyEmail" | translate}} </button>
    </form>
  }
  

 @else if (stepNumber === 2) {
  <form [formGroup]="verifyCode" (ngSubmit)="verfiyCodeSubmit()">
    <div class="mb-1 w-[80%] mx-auto">
      @let codeControl = verifyCode.get('resetCode');
      <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{ 'forgetName.code' | translate }}
      </label>
      <input
        formControlName="resetCode"
        type="text"
        id="code"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (codeControl?.errors && codeControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">
              {{ 'login.Ensure' | translate }}
            </span>
            <ul class="mt-1.5 list-disc list-inside">
              @if (codeControl?.getError('required')) {
                <li>
                  {{ 'forgetName.codesRequired' | translate }}
                </li>
              }
              @else if (codeControl?.getError('pattern')) {
                <li>
                  {{ 'forgetName.enterValidcode' | translate }}
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <button class="btn-main mx-2" [disabled]="verifyCode.invalid"> {{"forgetName.Verifycode" | translate}}</button>
  </form>
 }
  
@else if (stepNumber === 3) {
  <form [formGroup]="restPassword" (ngSubmit)="RestPasswordSubmit()">
    <div class="mb-1 w-[80%] mx-auto">
      @let passwordControl = restPassword.get('newPassword');
      <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{ 'forgetName.newPassword' | translate }}
      </label>
      <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (passwordControl?.errors && passwordControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">
              {{ 'login.Ensure' | translate }}
            </span>
            <ul class="mt-1.5 list-disc list-inside">
              @if (passwordControl?.getError('required')) {
                <li>
                  {{ 'forgetName.passwordIsRequired' | translate }}
                </li>
              }
              @else if (passwordControl?.getError('pattern')) {
                <li>
                  {{ 'forgetName.enterValidPassword' | translate }}
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>

    <div class="mb-1 w-[80%] mx-auto">
      @let EmailCon = restPassword.get('email');
      <label for="emails" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{ 'forgetName.email' | translate }}
      </label>
      <input
        formControlName="email"
        type="email"
        id="emails"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (EmailCon?.errors && EmailCon?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">
              {{ 'login.Ensure' | translate }}
            </span>
            <ul class="mt-1.5 list-disc list-inside">
              @if (EmailCon?.getError('required')) {
                <li>
                  {{ 'forgetName.emailIsRequired' | translate }}
                </li>
              }
              @else if (EmailCon?.getError('email')) {
                <li>
                  {{ 'forgetName.enterValidEmail' | translate }}
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <button class="btn-main mx-2" [disabled]="restPassword.invalid">{{"forgetName.password" | translate}}</button>
  </form>
}
  
 
</section>